*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
div{
    color: aquamarine;
    font-size: 2rem;
    font-weight: 1000;
    font-family:sans-serif;
    background: conic-gradient(
        orange 0 25%,
        purple 25% 50%,
        green 50% 75%,
        rgb(0, 221, 255) 75%);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: loadText 4s linear infinite;
}
@keyframes loadText{
    25%{background-position:0 100%;}
    50%{background-position:100% 100%;}
    75%{background-position:100% 0;}
    100%{background-position:0 0;}
}